body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 250, 0, 0.5);
}

main {
  width: 800px;
  height: 160vh;
  background-color: white;
  padding: 30px 30px 30px 30px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  background-color: black;
  color: white;
}

p {
  text-align: center;
  border: solid 2px black;
  padding: 15px 50px 10px 50px;
}

p:hover {
  color: #f5fa00;
  cursor: pointer;
}

.lang_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.box-type1 {
  width: 250px;
  height: 60px;
}

.party_plan {
  background-color: white;
  color: black;
}

.rsv_ex {
  border: none;
}

.rsv_ex:hover {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f5fa00;
  cursor: pointer;
}
