.header_sub {
  height: 25px;
  width: 100%;
  background-color: #000;
}

.header_sub_tittle p {
  color: #ffffff;
  font-size: 9px;
  top: 8px;
  width: 960px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  display: flex;
}

.header_sub_tittle p {
  display: flex;
}

.header_nav {
  padding: 10px;
  display: flex;
}

a img {
  border: none;
}

.menu ul {
  display: block;
  float: right;
  display: flex;
}

.header_nav {
  width: 960px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 30px;
  text-align: left;
  position: relative;
  align-items: center;
}

.menu li {
  padding-left: 30px;
  align-items: center;
}

.sns i {
  color: #ffffff;
}

.sns {
  display: flex;
  z-index: 10;
  top: 8px;
}

.carousel-control-prev .carousel-control-prev-icon {
  color: black;
}

.ct1 {
  text-align: center;
  padding-top: 40px;
}

.concept {
  display: flex;
  justify-content: center;
  padding: 30px 30px;
}

#concept_text {
  font-family: 'brandontxt',"mplus-2p", sans-serif;
  font-size: 14px;
  letter-spacing: 0.15em;
  font-weight: 400;
}

.shop_img img {
  width: 380px;
  height: 180px;
}

.shop img {
  width: 200px;
  height: 150px;
}

p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.special img {
  width: 200px;
  height: 150px;
}
